:root {
    --cinza-escuro: #333;
    --branco: #f4f4f4;
    --azul: #007bff;
    --cinza: #343a40;
    --amarelo: #ffc107;

    --fonte-principal: "inter";
}

html {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
}

.cabecalho {
    background-color: var(--azul);
    text-align: center;
    color: var(--branco);
    font-size: 20px;
    padding: 1em;
    font-weight: 500;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--cinza-escuro);
    padding: 0.7em 8em;
    margin: 1em 0;
    list-style: none;
}

.navigation__item {
    text-decoration: none;
    color: var(--branco);
}

.container {
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 2em 7em;
    border-radius: 8px;
    padding: 1em;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
}

.texto {
    padding: 1em 0;
}

.curiosidade {
    padding: 0.3em;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cinza-escuro);
}

.footer__texto {
    color: var(--branco);
    padding: 1em 0 0.5em;
}

.link {
    color: var(--amarelo);
    text-decoration: none;
    padding: 1em;
}

.tabela {
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

th {
    height: 40px;
    padding-top: 1em;
    font-weight: 700;
}

td {
    text-align: center;
    padding: 0.2em;
}